version: "3.8"

services:
  serving:
    build:
      context: .
      dockerfile: Dockerfile.serving
    container_name: serving
    ports:
      - "8080:8080"
    environment:
      - WANDB_ENTITY=haoran-sun-universite-de-montreal-
      - WANDB_PROJECT=IFT6758.2025-A-3700

  streamlit:
    build:
      context: .
      dockerfile: Dockerfile.streamlit
    container_name: streamlit
    ports:
      - "8501:8501"
    depends_on:
      - serving
    environment:
      - SERVING_HOST=serving
      - SERVING_PORT=8080
